.bioresume {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    padding: 0 calc(0.2rem + 2vw);
}

.bioresume__item {
    margin: 0 1rem;
    width: max(600px, 50%)
}

.resume {
    display: flex;
    justify-content: center;
    align-items: start;
    width: max(40vw, 480px);
    height: max(50vw, 600px);
}